.info-inner {
    margin: 0rem 1rem 0rem 1rem;
}

#popularity-info {
    background-color: #dcd8f3;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 2rem 1rem 2rem 1rem;
    float: right;
    margin: 1rem;
}