<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Movie Database</title>
	<link rel="stylesheet" href="../css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
	<!--nav-->
	<nav>
		<ul class="nav-list">
			<li id="print-li"><a href="../index.html">Full Movie List</a></li>
			<li><a href="popular.html">Popular</a></li>
			<li><a href="genres.html">Genres</a></li>
			<li><a href="year.html">Release Date</a></li>
			<li>Add Movie</li>
		</ul>
	</nav>
	<!--/end nav-->

	<!--inputs for new movie-->
	<fieldset>
		<legend>New Movie</legend>
		<div>
			<label for="title">Title</label>
			<input type="text" name="title" id="title" placeholder="Title" required>
		</div>

		<div>
			<label for="year">Premiere Year</label>
			<input id="year" name="year" type="number" placeholder="Year" max="2010" min="1890" required>
		</div>

		<!--
		<div>
			<label for="genres">Genres</label>
			<div name="genres" id="genres">
				<input type="checkbox" id="comedy" name="comedy">Comedy
				<input type="checkbox" id="drama" name="drama">Drama
				<input type="checkbox" id="horror" name="horror">Horror
				<input type="checkbox" id="thriller" name="thriller">Thriller
			</div>
		</div>
		-->

		<!--Checkboxes for selection-->
		<div>
			<p>Genres</p>
			<div class="check">
				<input type="checkbox" value="1" id="comedy" name="comedy" />
				<label for="comedy"></label>
				<p class="label">Comedy</p>
			</div>
			<div class="check">
				<input type="checkbox" value="1" id="drama" name="drama" />
				<label for="drama"></label>
				<p class="label">Drama</p>
			</div>
			<div class="check">
				<input type="checkbox" value="1" id="horror" name="horror" />
				<label for="horror"></label>
				<p class="label">Horror</p>
			</div>
			<div class="check">
				<input type="checkbox" value="1" id="thriller" name="thriller" />
				<label for="thriller"></label>
				<p class="label">Thriller</p>
			</div>
		</div>
		<!--/end checkboxes-->

		<div class="select-positioner">
			<label for="rating">Rating</label>
			<div class="styled-select slate">
				<select name="rating" id="rating">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
			</div>
		</div>
		<input type="submit" name="submit" value="Submit">
	</fieldset>
	<!--/end inputs-->


	<script src="../js/main.js"></script>
</body>

</html>