<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Movie Database</title>
	<link rel="stylesheet" href="../css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
	<!--nav-->
	<nav>
		<ul class="nav-list">
			<li id="print-li"><a href="../index.html">Full Movie List</a></li>
			<li><a href="popular.html">Popular</a></li>
			<li>Genres</li>
			<li><a href="year.html">Release Date</a></li>
			<li><a href="add-movie.html">Add Movie</a></li>
		</ul>
	</nav>
	<!--/end nav-->


	<!--Checkboxes for selection-->
	<h3>Choose Genres</h3>
	<div class="indentation">
		<div>
			<div class="check">
				<input type="checkbox" value="1" id="comedy" name="comedy" />
				<label for="comedy"></label>
				<p class="label">Comedy</p>
			</div>
			<div class="check">
				<input type="checkbox" value="1" id="drama" name="drama" />
				<label for="drama"></label>
				<p class="label">Drama</p>
			</div>
			<div class="check">
				<input type="checkbox" value="1" id="horror" name="horror" />
				<label for="horror"></label>
				<p class="label">Horror</p>
			</div>
			<div class="check">
				<input type="checkbox" value="1" id="thriller" name="thriller" />
				<label for="thriller"></label>
				<p class="label">Thriller</p>
			</div>
		</div>
	</div>
	<!--/end checkboxes-->


	<!--Button for selection-->
	<button class="indentation" onclick="moviedatabase.getprintMoviesByGenre()">Search</button>

	<!--div for appending-->
	<div id="result"></div>


	<script src="../js/main.js"></script>
</body>

</html>