<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Database</title>
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    <!--nav-->
    <nav>
        <ul class="nav-list">
            <li id="print-li"><a href="../index.html">Full Movie List</a></li>
            <li><a href="popular.html">Popular</a></li>
            <li><a href="genres.html">Genres</a></li>
            <li>Release Date</li>
            <li><a href="add-movie.html">Add Movie</a></li>
        </ul>
    </nav>
    <!--/end nav-->

    <!--Search field-->
    <div>
        <input id="year" type="number" placeholder="Year" max="2010" min="1890">
    </div>

    <!--Button for selection-->
    <button onclick="moviedatabase.getprintMoviesByYear()">Search</button>

    <!--div for appending-->
    <div id="result"></div>

    <script src="../js/main.js"></script>
</body>

</html>